# Node modules
node_modules/

# Builds
build/
dist/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# dotenv environment variables
.env
.env.*

# Editor-specific
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Testing
coverage/
*.lcov

# Optional lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
*.bak
*.zip
