/* Estilos del contenedor principal */
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  position: relative;
  background-color: #f5f3f0;
  background-color: #DFDFDF;
}

/* Estilos del fondo azul en el lado derecho */
.login-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 45%; 
  background: url('/images/LogIn.jpg') no-repeat center center;
  background-size: cover;
  z-index: 1;
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
  position: absolute;
  left: 6vw; 
  z-index: 2;
  background: rgba(255, 255, 255, 0.98); 
  border-radius: 30px; 
  padding: 1vh 2vw 4vh; 
  width: 50vw; 
  height: auto; 
  min-height: 500px; 
  max-width: 600px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
}

/* Estilos para los campos de entrada, botones, etc */
.input-field {
  position: relative;
  width: 100%;
  margin-bottom: 30px; 
}

.input-icon {
  position: absolute;
  left: 20px; 
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  z-index: 3;
}

.input-field input {
  width: 100%;
  padding: 20px 20px 20px 50px; 
  border-radius: 30px; 
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box; 
}

/* Estilos para el botón de inicio de sesión */
.login-button {
  width: 30vw;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background-color: #0E64D2;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; 
}

.login-button:hover {
  background-color: #0056b3;
}

/* Estilos para el checkbox de recordar usuario */
.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 100%; 
  padding-left: 0; 
  margin-left: -20px; 
  margin-bottom: 20px; 
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px; 
}

/* Estilos para el botón de inicio de sesión */
.login-button {
  margin-top: 10vh;
}

/* Estilo para recuperar contraseña */
.recover {
  position: absolute; 
  right: 100px; 
  bottom: 100px; 
  margin-bottom: 0; 
}

.recover a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

.recover a:hover {
  text-decoration: underline;
}

/* Estilo para el título del formulario */
h2 {
  margin-bottom: 30px; 
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

/*Logo BTC*/
.logo-btc {
  width: 40vw; 
  position: absolute;
  top: 27vh; 
  right: 3vw; 
  z-index: 3; 
}

/* Estilo de texto */
.welcome-text {
  position: absolute;
  top: 53vh; 
  right: 6vw;
  color: white; 
  font-size: 3vw;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}