.planResultados {
    width: 73vw;
    margin: 0 auto;
    margin-right: 2vw;
}

.titulo {
    margin-top: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/*
.ParamsDiv {
    display: flex;
    height: 13vh;
    margin-top: 6vh;

}
*/
.ParamsDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 13vh;
    margin-top: 6vh;
    padding-right: 20vw;
}


.Form {
    /*vertical-align: middle;
    padding-right: 30vw;
    flex: 1;*/
    padding-right: 2vw;
}

.tableContainer {
    max-height: 55vh;
    overflow-y: auto;
    margin-top: 3vh;
}

table {
    min-width: 50vw;
}

.tableContainer .MuiTableHead-root .MuiTableCell-root {
    font-weight: bold;
    background-color: #001630;
    color: white;
    z-index: 1050; /* Ensure it's above most other content */
}

/* Make the header row sticky */
.tableContainer .MuiTableHead-root .MuiTableRow-head {
    position: sticky;
    top: 0;
    z-index: 1020; /* Same or higher than individual cells to ensure it stays on top */
}.tableContainer .MuiTableHead-root .MuiTableCell-root {
    font-weight: bold;
    background-color: #001630;
    color: white;
    /* Using a high z-index value to ensure the header stays above other content */
    z-index: 1100; 
}

/* Make the header row sticky */
.tableContainer .MuiTableHead-root .MuiTableRow-head {
    position: sticky;
    top: 0;
    /* Higher z-index to keep the header above all the other rows and elements */
    z-index: 1100; 
}
