.planResultados {
    width: 73vw;
    margin: 0 auto;
    margin-right: 2vw;
}

.titulo {
    margin-top: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.ParamsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-top: 6vh;
}

.Form {
    padding-right: 2vw;
}

.tableContainer {
    max-height: 55vh;
    
    margin-top: 3vh;
}

table {
    min-width: 50vw;
}

.tableContainer .MuiTableHead-root .MuiTableCell-root {
    font-weight: bold;
    background-color: #001630;
    color: white;
    z-index: 1050; /* Ensure it's above most other content */
}

/* Make the header row sticky */
.tableContainer .MuiTableHead-root .MuiTableRow-head {
    position: sticky;
    top: 0;
    z-index: 1020; /* Same or higher than individual cells to ensure it stays on top */
}

.tableContainer .MuiTableHead-root .MuiTableCell-root {
    font-weight: bold;
    background-color: #001630;
    color: white;
    /* Using a high z-index value to ensure the header stays above other content */
    z-index: 1100; 
}

/* Make the header row sticky */
.tableContainer .MuiTableHead-root .MuiTableRow-head {
    position: sticky;
    top: 0;
    /* Higher z-index to keep the header above all the other rows and elements */
    z-index: 1100; 
}

.button-info {
    display: flex;
<<<<<<< HEAD
    align-items: center;
    gap: 10px;
    margin-bottom: 10px; /* Añadir margen inferior para separar botones */
}

.resultados-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007BFF; /* Color azul */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em; /* Ajustar el tamaño de fuente */
    gap: 10px; /* Añadir un espacio entre el texto y el icono */
=======
    gap: 15px; /* Espaciado entre botones */
}

.resultados-button {
    flex-shrink: 0; /* Asegura que el botón no cambie de tamaño */
    width: 220px; /* Incrementar el ancho */
    text-align: center;
    background-color: #007BFF; /* Azul */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px; /* Mantén la altura igual */
    font-size: 1em;
>>>>>>> origin/frontendtest
}

.resultados-button:disabled {
    background-color: #CCC;
}

.resultados-button:hover:not(:disabled) {
<<<<<<< HEAD
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
=======
    background-color: #0056b3; /* Azul más oscuro */
>>>>>>> origin/frontendtest
}

/* Ajustes para los controles de formulario */
.form-control {
    display: flex;
    align-items: center;
    gap: 10px; /* Añadir un espacio entre el control y el icono */
    margin-bottom: 10px; /* Margen inferior para separar los controles */
}

.form-control .MuiFormControl-root {
    flex: 1; /* Asegurar que el control ocupe todo el espacio disponible */
}
