.polInformacion {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 250px); /* Mantener el espacio reservado para la barra lateral */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.titulo {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permite la envoltura de elementos si no caben en una sola fila */
    gap: 20px;
}

.upload-section, .results-section {
    flex: 1; /* Se asigna la propiedad flex para que ambos tomen el mismo espacio */
    min-width: 700px; /* Se define un mínimo de ancho mayor */
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 20px;
    width: 100%; /* Se ajusta para que el cuadro tome todo el ancho disponible */
}

.radio-buttons {
    margin-bottom: 20px;
}

.radio-buttons label {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    display: block;
    background-color: #007BFF; /* Color azul */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%; /* Se ajusta para que el botón se expanda al ancho del contenedor */
}

button:disabled {
    background-color: #CCC;
}

button:hover:not(:disabled) {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
}

.results-section {
    display: flex;
    flex-direction: column;
}

textarea {
    flex: 1; /* Hace que el textarea crezca para llenar el espacio disponible */
    min-height: 150px; /* Se cambia a min-height para permitir que crezca */
    margin-bottom: 20px;
}
