.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50; /* verde al estar activo */
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.polParametros {
  width: 73vw;
  height: 100vh;
  margin: 0 auto;
  padding-right: 2vw;
  overflow: auto;
}

.titulo {
  margin-top: 4vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.sub-titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: large;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.historicalHorizonInput,
.endOfHorizonInput,
.calendarSelect {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.historicalHorizonInput label,
.endOfHorizonInput label,
.calendarSelect label {
  margin-right: 0.5rem;
  font-weight: bold;
}

.historicalHorizonInput input,
.endOfHorizonInput input,
.calendarSelect select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.service-level {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5vh;
  margin-bottom: 3vh;
}

.service-level-item {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.service-level-item label {
  margin-right: 1.5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
}

.service-level-item input {
  width: 5vw;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin-right: 0.25rem;
  background-color: white;
  color: black;
  font-size: 1rem;
}

.service-level-item span {
  font-weight: bold;
}
